{{#link-to "game" content.id}}
  <div class="main-loader"></div>
  <div class="game-img" style="background-image: url({{unbound content.icons.large}});"></div>
{{/link-to}}
<div class="game-title">
  {{{content.displayedName}}}
  <i {{bind-attr class=":favorite-icon :fa content.isFavorite:fa-star:fa-star-o"}} {{action "toggleFavorite"}}></i>
</div>