@import '../../bower_components/bourbon/dist/bourbon';
@import "bower_components/font-awesome/scss/font-awesome";
@import "functions";
@import "config";
@import "mixins";
@import "components";
@import "sections";

body {
  font-size: $main-font-size;
  background-color: $app-bg;
}
*{
  box-sizing: border-box;
}
#app-header{
  height: $header-height;
  background-color: $header-bg;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid $header-border;
  padding: 0 1rem;
  z-index: 9;

  h1{
    @include transition(all 0.5s);
    float: left;
    font-size: 32px;
    color: $header-color;
    text-shadow: 1px 2px 1px white;
    margin-top: 1.5rem;
    cursor: pointer;

    &:hover{
      text-shadow: 1px 6px 8px #ccc;
      color: #777;
    }
  }
  nav{
    padding-top: 2rem;
    float: right;
    height: 100%;

    a{
      @include transition(all 0.6s);
      display: inline-block;
      height: 100%;
      color: #999;
      text-decoration: none;
      border-bottom: 2px solid transparent;

      &:hover, &.active{
        color: #000;
        border-bottom-color: #d26911;
      }
    }
  }
}

#app-content{
  margin-top: $header-height;
  overflow-x: hidden;
  color: $app-color;
}

.games-filter{
  text-align: center;
  margin: 1rem;

  .filter{
    vertical-align: middle;
  }
}