@import "bower_components/font-awesome/scss/font-awesome";
@import "config";
@import "components";
@import "sections";

html, body {

}
*{
  box-sizing: border-box;
}
#app-header{
  height: $header-height;
  background-color: $header-bg;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid $header-border;
  padding: 0 1rem;
  z-index: 9;

  h1{
    float: left;
  }
  nav{
    padding-top: 2rem;
    float: right;

    a{
      color: #777;
      text-decoration: none;

      &:hover, &.active{
        color: #333;
      }
    }
  }
}

#app-content{
  margin-top: $header-height;
}