@import "bower_components/font-awesome/scss/font-awesome";
@import "functions";
@import "config";
@import "mixins";
@import "components";
@import "sections";

body {
  font-size: $main-font-size;
}
*{
  box-sizing: border-box;
}
#app-header{
  height: $header-height;
  background-color: $header-bg;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid $header-border;
  padding: 0 1rem;
  z-index: 9;

  h1{
    float: left;
  }
  nav{
    padding-top: 2rem;
    float: right;
    height: 100%;

    a{
      transition: all 0.6s;
      display: inline-block;
      height: 100%;
      color: #999;
      text-decoration: none;
      border-bottom: 2px solid transparent;

      &:hover, &.active{
        color: #000;
        border-bottom-color: #d26911;
      }
    }
  }
}

#app-content{
  margin-top: $header-height;
  overflow-x: hidden;
}