.game-card-component{
  display: inline-block;
  width: 170px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;

  h3{
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 80px;
    margin-top: 0;
    padding-top: 30px;
    border-radius: 3px 3px 0 0;
  }

  a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 3px black;
  }

}