//Sizes
$base-rem: 16px;
$header-height: px-to-rem(75px);
$header-big-height: px-to-rem(150px);
$main-font-size: 0.8rem !default; // ~ 13pt
$main-border-radius: 3px;
$header-breakpoint: 450px;

//Colors
$app-bg: #343d46;
$app-color: #ccc;
$header-bg: #f5f5f5;
$header-border: #e5e5e5;
$main-green: #27ae60;
$header-color: #999;