#game{
  $image-height: 260px;

  text-align: center;
  //Generate dynamic backgrounds
  @for $i from 1 through 6 {
    &.bg-#{$i} .game-image{
      background: url('/images/bg-#{$i}.png');
    }
  }

  h2{
    position: fixed;
    top: 3.9rem;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 2px 1px white;
    z-index: 10;

    span{
      background-color: $header-bg;
      padding: 0.5rem;
      border-radius: 0 0 $main-border-radius $main-border-radius;
      border: 1px solid $header-border;
      border-top-color: transparent;
      box-shadow: 2px 6px 7px -2px black;
      color: $header-color;
    }
  }

  .game-image{
    text-align: center;
    height: $image-height;
  }

  .toggle-fav{
    margin-top: 1rem;
  }
}