#game{
  $image-height: 260px;

  text-align: center;
  //Generate dynamic backgrounds
  @for $i from 1 through 6 {
    &.bg-#{$i} .game-image{
      background: url('/images/bg-#{$i}.png');
    }
  }

  h2{
    position: fixed;
    top: 3.9rem;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 6px black;
    z-index: 10;

    span{
      background-color: $header-bg;
      padding: 0.5rem;
      border-radius: 0 0 3px 3px;
      border: 1px solid $header-border;
      border-top-color: transparent;
      box-shadow: 2px 6px 7px -2px black;
    }
  }

  .game-image{
    text-align: center;
    height: $image-height;
  }

  .toggle-fav{
    margin-top: 1rem;
  }
}