.button{
  @include transition(all 0.3s ease 0s);
  border: 0 none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  width: 9rem;
  text-align: center;

  &.light {
    background: none repeat scroll 0 0 #999;
    color: white;

    &:hover{
      background: none repeat scroll 0 0 #444;
      color: white;
    }
  }
}
