.game-card-component{
  $margin: 10px;

  display: none;
  width: px-to-rem(170px);
  margin-right: $margin;
  margin-bottom: $margin;
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: $main-border-radius;

  &.is-visible{
    display: inline-block;
    @include animation(fade-in 1s forwards);
  }

  .game-img{
    @include transition(background 0.2s);
    background-repeat: no-repeat;
    background-position: center;
    height: px-to-rem(80px);
    margin-top: 0;
    padding-top: px-to-rem(30px);
    border-radius: $main-border-radius $main-border-radius 0 0;
    background-size: 100%;

    &:hover{
      background-size: 110%;
    }
  }

  .game-title{
    text-align: center;
    color: $app-bg;
    margin: 0.4rem;
    font-weight: bold;
  }

  .matched-text{
    color: $main-green;
  }

  a{
    text-decoration: none;
  }

  .favorite-icon{
    cursor: pointer;
    color: black;
    text-shadow: none;
    float: right;

    &:hover{
      color: #aaa;
      @include transform(scale(1.1));
    }
  }
}

@include keyframe('fade-in') {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}