.game-card-component{
  $margin: 10px;

  position: relative;
  display: none;
  width: px-to-rem(170px);
  margin-right: $margin;
  margin-bottom: $margin;
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: $main-border-radius;

  &.is-visible{
    display: inline-block;
    @include animation(fade-in 1s forwards);
  }

  .main-loader{
    z-index: 1;
    &:after, &:before{
      background-color: $app-bg;
    }
  }

  .game-img{
    @include transition(background 0.2s);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: px-to-rem(80px);
    margin-top: 0;
    padding-top: px-to-rem(30px);
    border-radius: $main-border-radius $main-border-radius 0 0;
    background-size: 100%;
    z-index: 2;

    &:hover{
      background-size: 110%;
    }
  }

  .game-title{
    text-align: center;
    color: $app-bg;
    margin: 0.4rem;
    font-weight: bold;

    .displayed-name{
      max-width: 8.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      overflow: hidden;
    }
  }

  .matched-text{
    color: $main-green;
  }

  a{
    text-decoration: none;
    display: block;
    height: 5.1rem;
    position: relative;
  }

  .favorite-icon{
    cursor: pointer;
    color: black;
    text-shadow: none;
    float: right;

    &:hover{
      color: #aaa;
      @include transform(scale(1.1));
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &.is-visible{
      display: block;
      width: 100%;
      height: 4.1rem;
      padding: 0.4rem;

      .main-loader{
        top: 1.3rem;
        left: 3rem;
      }
      a{
        float: left;
      }
      .game-img{
        width: 7rem;
        background-position: top;
        border-radius: $main-border-radius;
        height: 3.2rem;
        border: 1px solid #ccc;
      }
      .game-title{
        float: left;
        padding-left: 7.5rem;
        padding-top: 0.8rem;
        font-size: 16px;
        width: 100%;
        text-align: left;
      }
      .displayed-name{
        max-width: 11rem;
      }
      .favorite-icon{
        margin-right: 1rem;
      }
    }
  }
}

@include keyframe('fade-in') {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}