//Slide
.slide-input {
  $activeColor: #27ae60; //green
  $darkenColor: darken($activeColor, 20%);
  $background: #3498db;

  margin-left: 0.5rem;
  display: inline-block;
  width: px-to-rem(80px);
  height: px-to-rem(26px);
  background: #333;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(black, 0.5), 0px 1px 0px rgba(white, 0.2);
  &:after, &:before{
    position: absolute;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }
  &:after {
    content: 'OFF';
    color: black;
    right: 10px;
    text-shadow: 1px 1px 0px rgba(white,.15);
  }
  &:before {
    content: 'ON';
    color: $activeColor;
    left: 10px;
  }
  .description{
    position: absolute;
    top: -1rem;
    white-space: nowrap;
    font-size: 10px;
    left: 0.4rem;
  }
  label {
    @include linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    @include transition(all 0.4s ease);
    display: block;
    width: px-to-rem(34px);
    height: px-to-rem(20px);
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    border-radius: 50px;
    box-shadow: 0px 2px 5px 0px rgba(black, 0.3);
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 43px;
    }
  }
}

//Seach
.search-input{
  $icon-distance: px-to-rem(8px);
  $placeholder-color: #65737e;
  white-space: nowrap;
  position: relative;
  display: inline-block;

  input#search{
    @include transition(all .55s ease);
    width: px-to-rem(150px);
    height: px-to-rem(30px);
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: px-to-rem(45px);
    border-radius: 5px;

    &:focus, &:active{
      outline: none;
      background: white;
    }
    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
      color: $placeholder-color;
    }
  }

  .icon{
    position: absolute;
    top: 0;
    margin-left: $icon-distance;
    margin-top: $icon-distance;
    z-index: 1;
    color: #4f5b66;
    left: 0;
    font-size: 16px;
  }
}