<header id="app-header">
  <h1>Games Portfolio</h1>
  <nav>
    {{#link-to "all"}}
      <i class="fa fa-list"></i> All ({{allGames.length}})
    {{/link-to}}
    {{#link-to "favorites"}}
      <i class="fa fa-star"></i> Favorites ({{favoriteGames.length}})
    {{/link-to}}
  </nav>
</header>
<div id="app-content">
{{outlet}}
</div>