Game name {{input value=filterText placeholder="Type something..." autofocus=true}}
Sort ascending
<div class="slideThree">
  {{input type="checkbox" id="slideThree" checked=isSortAscending}}
  <label for="slideThree"></label>
</div>

<div class="all-games">
  {{#each game in sortedGames}}
    {{game-card content=game}}
  {{/each}}
  {{#unless visibleGames}}
    NO RESULTS
  {{/unless}}
</div>